/* ----GLOBAL STYLES---- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* ----HEADER & FOOTER STYLES---- */

.head {
    height: 50%;
}

.foot {
    height: 20%;
}

.head,
.foot {
    background-color: #019992;
    padding: 0 1.5vw;
}

.head,
.flex-container-nav-list,
.foot {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.logo {
    margin: 10px;
}

.flex-container-nav-list {
    margin: 1.2vw;
    list-style-type: none;
}

.flex-container-nav-list li {
    margin: 0 10px;
}

.flex-container-nav-list li a {
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.1vw;
    color: white;
    text-decoration: none;
}

.foot p {
    color: white;
}

.fab {
    color: white;
    margin: 10px;
}

.flex-container-nav-list li a:hover,
.fab:hover {
    color: #FFB001;
}


/* ----INDICE---- */


/* ----MAIN SECTION STYLES---- */

h1 {
    font-weight: bold;
    color: #FB475E;
}

.main-flex-container {
    min-height: 80vh;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
}

.main-flex-item {
    max-width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid black; */
}

.img-main {
    max-width: 50%;
}


/* ----PRODUCTOS---- */


/* ----MAIN SECTION STYLES---- */

.products-main-container {
    min-height: 80vh;
    height: 70%;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
}

.products-main-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.img-product-main {
    max-width: 75%;
    max-height: 40vh;
    border-radius: 20px;
}


/* ----CONTACTO---- */


/* ----MAIN SECTION STYLES---- */

.contact-main-container {
    min-height: 80vh;
    height: 70%;
    /* margin: 20px auto;
    padding: 20px;
    text-align: center; */
    border: 1px solid black;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: space-around;
}

.contact-main-item {
    margin: 20px auto;
    padding: 20px;
    width: 150%;
    text-align: center;
    border: 1px solid #FB475E;
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
}